//******************************************************************************
// CONFIG
//******************************************************************************

$breakpoints: ( 
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px
);

$primary:       #007bff;
$secondary:     #6c757d;
$success:       #28a745;
$info:          #17a2b8; 
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #343a40;

@import 'vendors/include-media';

//******************************************************************************
// LAYOUT
//******************************************************************************

body {
    padding: 5rem 0;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

//******************************************************************************
// FRONTEND
//******************************************************************************


//******************************************************************************
// BACKEND
//******************************************************************************

